version: 2.1

workflows:
  run_tests_with_coverage:
    jobs:
      - cover:
          version: '10'
      - cover:
          version: 'lts'
      - cover:
          version: 'current'

jobs:
  cover:
    parameters:
      version:
        type: string
    docker:
      - image: circleci/node:<< parameters.version >>

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: npm run cover
